<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>TODO List</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
		
		<div class="container">
		
			<h3>TODO List</h3>
			<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
			
			<hr/>
			<a th:href="@{/addTodoForm}" class="btn btn-primary">Add a Todo</a>
			<br/><br/>
			<table class="table table-bordered table-striped" id="todosTable">
			
				<thead>
					<tr>
						<th>Task</th>
						<th>Done</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="todo:${todos}">
						<td th:text="${todo.task}"></td>
						<td th:text="${todo.completed}"></td>
						<td>							
							<a th:href="@{/todos/delete(todoId=${todo.id})}" class="btn btn-danger ml-2">Delete</a>
							<a th:href="@{/todos/complete(todoId=${todo.id})}" class="btn btn-danger ml-2">Mark as Completed</a>
						</td>
					</tr>
				</tbody>
				
			</table>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#employeeTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
	</body>
</html>